{% extends 'index.html'%}
{% block 'b1' %}
<h2 align ="center"> <font color="green">VIEW PACKAGES</font></h2>
<form method="post" action="{% url 'package' %}">
     {% csrf_token %}
    <table align="center" border="2">
        <tr>
      <tr>
          <td> ID </td>
          <td> <input type="text" name="name" required></td>
      </tr>
        <tr>
            <td>Tour code </td>
            <td> <input type="text" name="addr" required></td>
        </tr>
        <tr>
            <td>Tour Name</td>
            <td> <input type="text" name="email" required></td>
        </tr>
         <tr>
            <td>Tour package </td>
            <td> <input type="text" name="phno" required></td>
        </tr>
        <tr>
            <td>TDesc </td>
            <td> <input type="text" name="uname" required></td>
        </tr>
        <tr>
            <td align="center"> <input type="submit" value="signup"></td>
            <td align="center"> <input type="reset" value="clear"></td>
        </tr>
    </table>
</form>
{% endblock %}
